// Typography
h1 {
  @include typography("Montserrat", 24px, 700, 20px);
  font-style: normal;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #000000;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E4E4E4;
  > .icons {
    font-size: 24px;
    margin-right: 15px;
    color: inherit;
  }
}
h2 {
  @include typography("Montserrat", 20px, 700, 20px);
}
h3 {
  @include typography("Montserrat", 18px, 700, 20px);
}
h4 {
  @include typography("Montserrat", 16px, 700, 20px);
}
h5 {
  @include typography("Montserrat", 14px, 700, 20px);
}
P,
div {
  @include typography("Montserrat", 14px, 400, 20px);
}
span {
  @include typography("Montserrat", 12px, 400, 20px);
}
a {
  @include typography("Montserrat", 12px, 400, 20px);
  text-decoration: none;
  cursor: pointer;
}
label {
  @include typography("Montserrat", 12px, 600, 20px);
}
button {
  outline: none;
  &:hover {
    outline: none;
    background: transparent;
    box-shadow: none;
  }
}
.cnt-form-action {
  display: flex;
  justify-content: flex-end;
  > igy-button {
    margin-left: 15px;
  }
}

.igy-card {
  @include card-brackground($blanc, 10px, $card-shadow);
}

// HERITAGE
%flex-align-center {
  display: flex;
  justify-content: center;
  height: 110px;
  align-items: center;
}

.primary-btn {
  background-color: #0cb465;
  border-color: #0cb465;
  color: #fff;
  box-shadow: none;
  border: none;
  height: 35px;
  width: inherit;
}
