// Typography
h1 {
  @include typography("Montserrat", 24px, 700, 20px);
  background: linear-gradient(90deg, #800080 27.6%, #FF6633 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}
h2 {
  @include typography("Montserrat", 20px, 700, 20px);
}
h3 {
  @include typography("Montserrat", 18px, 700, 20px);
}
h4 {
  @include typography("Montserrat", 16px, 700, 20px);
}
h5 {
  @include typography("Montserrat", 14px, 700, 20px);
}
P,
div {
  @include typography("Montserrat", 14px, 400, 20px);
}
span {
  @include typography("Montserrat", 12px, 400, 20px);
}
a {
  @include typography("Montserrat", 12px, 400, 20px);
  text-decoration: none;
  cursor: pointer;
}
label {
  @include typography("Montserrat", 12px, 600, 20px);
}
button {
  outline: none;
  &:hover {
    outline: none;
    background: transparent;
    box-shadow: none;
  }
}
.cnt-form-action {
  display: flex;
  justify-content: flex-end;
  > igy-button {
    margin-left: 15px;
  }
}

.igy-card {
  @include card-brackground($blanc, 10px, $card-shadow);
}

// HERITAGE
%flex-align-center {
  display: flex;
  justify-content: center;
  height: 110px;
  align-items: center;
}

.primary-btn {
  background-color: #0cb465;
  border-color: #0cb465;
  color: #fff;
  box-shadow: none;
  border: none;
  height: 35px;
  width: inherit;
}
